.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    border: 2px solid red;
    display: grid;
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px 15px;
    padding: 10px;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 200px 100px 200px; */
}
.grid-item {
    /* width: 200px; */
    height: 200px;
    border: 2px solid pink;
}
.grid-item:first-child{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
    height: 50px;
}
.grid-item:nth-child(3 ){
    grid-column: 2/4;
}